.navbar {
    background-color: white;
}

.title-format {
    background-color: aqua;
}

.card-container {
    display: flex; 
    justify-content: space-around;
}

.standard {
    width: 18rem;
    margin: 1rem;
}